body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.header-icons {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-icons .icon {
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para el título y subtítulo de Guardados */
h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #666;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
}

.footer-icons .icon {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.footer-icons .icon br {
    margin-top: 4px;
}

a {
    color: inherit; 
    text-decoration: none; 
}